* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  margin: 5px;
}
